<h3>You inputted length <%= @length %> and width <%= @width %> and height <%= @height %>.</h3>
<h3>Volume (inches): <%= @parcel_volume %></h3>
<h3>Cost: $<%= @parcel_cost %></h3>
<h3>Surface Area: <%= @parcel_surface %></h3>
<a href='/'>Return to home page</a>
